# Env
.env
.env.local

# Node (auth-service)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/auth-service/dist/
/auth-service/build/

# Go (quiz-service)
/quiz-service/quiz-service
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Python / Locust
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
locust/*.csv


# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
