global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend stats
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 5s

frontend http_front
    bind *:80
    
    acl url_auth path_beg /auth
    acl url_quiz path_beg /quiz
    
    use_backend auth_back if url_auth
    use_backend quiz_back if url_quiz

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      30s
    hold refused    30s
    hold nx         30s
    hold timeout    30s
    hold valid      10s
    hold obsolete   10s

backend auth_back
    balance roundrobin
    server-template auth 1-10 auth-service:3000 check resolvers docker resolve-prefer ipv4

backend quiz_back
    balance roundrobin
    server-template quiz 1-10 quiz-service:8080 check resolvers docker resolve-prefer ipv4
